{% extends 'base.html' %}

{% block title %}
About US
{% endblock title %}

{% block body %}

<div class="container">
<figure class="text-center">
  <blockquote class="blockquote">
    <h3>About US</h3>
  </blockquote>
  </figure>

  
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <img src="static/images/aboutus3.jpg" class="card-img-top" alt="...">
          
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="static/images/aboutus2.jpeg" class="card-img-top" alt="...">
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<figure class="text-center">
  <blockquote class="blockquote">
    <h2>Srivishnu & S.Akash</h2>
    <h5>Developers - S&S Tech Hub</h5>
    <h6>An E-commerce Management System, DBMS Project under VTU</h6>
  </blockquote>
  </figure>
{% endblock body %}