{% extends 'base.html' %}

{% block title %}
Your Products
{% endblock title %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Product Description</th>
      <th scope="col">Product Image</th>
      <th scope="col">Price</th>
      
      
      
    </tr>
  </thead>
  <tbody class="table-group-divider">
    
    {% for post in query %}
    <tr>
      <th scope="row">{{post.pid}}</th>
      
      <td>{{post.p_name}}</td>
      <td>{{post.email}}</td>
      <td>{{post.p_desc}}</td>
      <td>{{post.p_img}}</td>
      <td>{{post.price}}</td>
      
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}