{% extends 'base.html' %}

{% block title %}
Products
{% endblock title %}

{% block body %}
<div class="container mt-4">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 20rem;">
      <img src="static/images/bugrobot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bug Robot</h5>
        <p class="card-text">These are fully robotic machines that mimic the ways lightning bugs move, communicate and fly.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 5500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 25rem;">
      <img src="static/images/fpv_drone.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Drone</h5>
        <p class="card-text">FPV drone lets users of any skill level feel the thrill of immersive flight</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 4500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 25rem;">
      <img src="static/images/dogrobot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Robot Dog</h5>
        <p class="card-text">Robots designed to resemble dogs in appearance and behavior, usually incorporating waging and barking.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 10500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 25rem;">
      <img src="static/images/humanoid.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Humanoid</h5>
        <p class="card-text">A humanoid robot is a robot resembling the human body in shape,and interacting within human environments.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 15500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 25rem;">
      <img src="static/images/cranerobot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Robot Crane</h5>
        <p class="card-text">Automated Robot Cranes (ARC) are cranes that are integrated with Artificial Intelligence (AI) technology. .</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 2500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100"style="width: 18rem;" style="heigth: 25rem;">
      <img src="static/images/motionrobot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Motion Sensing Robot</h5>
        <p class="card-text">The Tracker Motion Sensor (TMS) is a mixed signal vision system with focal-plane.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 1500 INR</li>
        
        
      </ul>
      <div class="card-body">
        <a href="/cart" class="card-link">Order now</a>
        
      </div>
    </div>
  </div>
  
  
</div>
</div>
{% endblock body %}